---
import BaseLayout from "../layouts/BaseLayout.astro";
import GalleryGrid from "../components/GalleryGrid.astro";
---

<BaseLayout title="kunstmitt">

<section class="max-w-7xl mx-auto py-16">

  <GalleryGrid />

</section>

</BaseLayout>